/*grid*/
/*grid*/
body {
    width: auto;
    margin: 0 auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    background-color: #ffffff;
}
@media (min-width: 768px) {
    body {
        width: auto;
        margin: 0 auto;
    }
}
@media (min-width: 1150px) {
    body {
        min-width: auto;
        margin: 0 auto;
    }
}
html {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
/*svg-none*/
.display-none {
    display: none;
}
/*svg-none*/
/*Главная*/
.promo-header__description {
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    color: #010000;
}
.product__title {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
.product__week {
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
}
.product__description {
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.product__specification-list {
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.product__price {
    color: #444444;
    font-weight: 700;
    line-height: 24px;
    font-size: 17px;
}
.product__order-btn {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.advantages__title {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
.advantages__list {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    list-style: none;
    /*padding-left: 0;*/
}
.reviews__title {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
.reviews__text {
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.reviews__author-name {
    color: #000000;
    font-weight: 700;
    line-height: 24px;
    font-size: 17px;
}
.reviews__insta-name {
    color: #444444;
    font-weight: 400;
    line-height: 30px;
    font-size: 17px;
}
.reviews__write-btn {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.contacts__title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.contacts__main-info {
    color: #444444;
    font-weight: 400;
    line-height: 30px;
    font-size: 15px;
}
.contacts-e-mail__contacts-item--link {
    color: #444444;
    text-decoration: none;
}
.contacts__write-us-btn {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.page-footer__copyright-link {
    color: #000000;
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
}
/*Главная*/
/*Каталог*/
.page-title__catalog {
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
}
.product__title a {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}
.product__options {
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}
.product__user-price {
    color: #444444;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Open Sans Bold';
}
.production__title {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
}
.production__description {
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.production__order-btn {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
/*Каталог*/
/*Форма*/
.description-form {
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
input {
    color: #444444;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
}
.order-form__item-name--type {
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
}
.order-form__item-name--color {
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
}
.order-form__item-name--full-name {
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
}
.order-form__item-name--phone-num {
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
}
.order-form__item-name--e-mail {
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
}
.order-form__item-name--more-info {
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
}
.order-form__options {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.order-form__name-label {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.order-form__surname-label {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.order-form__fathers-name-label {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.warning__text {
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.order-form__send-btn {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
/*Форма*/
.advantages {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto;
    padding-left: 8.6%;
    font-family: 'Open Sans Bold';
}
.advantages__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 29px;
}
.advantages__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
    padding: 29px 0 0 2px;
    font-weight: 700;
    line-height: 20px;
    list-style: none;
}
.advantages__item {
    position: relative;
    width: 75%;
    padding-top: 55px;
    padding-bottom: 28px;
    font-weight: 700;
}
.advantages__item--ecology::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 8px;
    display: block;
    width: 32px;
    height: 37.3px;
    background: url(../img/icon-feature-1.svg) no-repeat 50% 50%;
    background-size: 32px 37.3px;
}
.advantages__item--scandinavian::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 46.5px;
    height: 27.3px;
    background: url(../img/icon-feature-3.svg) no-repeat 50% 50%;
    background-size: 46.5px 27.3px;
}
.advantages__item--likes::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
    width: 33px;
    height: 27.9px;
    background: url(../img/icon-feature-5.svg) no-repeat 50% 50%;
    background-size: 33px 27.9px;
}
.advantages__item--handmade::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    display: block;
    width: 34.3px;
    height: 34.3px;
    background: url(../img/icon-feature-2.svg) no-repeat 50% 50%;
    background-size: 34.3px;
}
.advantages__item--domestic::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -5px;
    display: block;
    width: 54.1px;
    height: 23.2px;
    background: url(../img/icon-feature-4.svg) no-repeat 50% 50%;
    background-size: 54.1px 23.2px;
}
.advantages__item--pack::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 3px;
    display: block;
    width: 32.7px;
    height: 32.5px;
    background: url(../img/icon-feature-6.svg) no-repeat 50% 50%;
    background-size: 32.7px 32.5px;
}
@media (min-width: 768px) {
    .advantages {
        padding-left: 46px;
        padding-bottom: 20px;
    }
    .advantages__title {
        padding-top: 47px;
        font-size: 40px;
        line-height: 50px;
    }
    .advantages__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-top: 49px;
        padding-left: 4px;
        font-size: 20px;
        line-height: 24px;
    }
    .advantages__wrapper {
        margin-left: 50px;
        margin-right: 50px;
    }
    .advantages__item {
        width: 40%;
        padding-bottom: 52px;
    }
    .advantages__item--ecology {
        -ms-flex-order: -6;
            order: -6;
        padding-right: 50px;
    }
    .advantages__item--scandinavian {
        -ms-flex-order: -4;
            order: -4;
        padding-right: 50px;
    }
    .advantages__item--likes {
        -ms-flex-order: -2;
            order: -2;
        padding-right: 50px;
    }
    .advantages__item--handmade {
        -ms-flex-order: -5;
            order: -5;
    }
    .advantages__item--domestic {
        -ms-flex-order: -3;
            order: -3;
    }
    .advantages__item:last-child {
        padding-bottom: 40px;
    }
}
@media (min-width: 1150px) {
    .advantages {
        padding-left: 220px;
        padding-bottom: 2px;
    }
    .advantages__title {
        padding-top: 58px;
        font-size: 50px;
        line-height: 57px;
    }
    .advantages__list {
        padding-top: 47px;
        padding-left: 3px;
        padding-bottom: 19px;
    }
    .advantages__item {
        width: 30%;
    }
}
.contacts {
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 39px;
}
.contacts__address {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 300px;
}
.contacts__content-wrapper {
    padding-right: 9.6%;
    padding-left: 9%;
}
.contacts__item {
    margin: 0;
    line-height: 30px;
    color: #444444;
}
.contacts__address {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 300px;
}
.contacts__item--value {
    width: 183px;
}
.contacts__e-mail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 300px;
    padding-bottom: 29px;
}
.contacts__e-mail-link {
    color: #000000;
    text-decoration: none;
    width: 183px;
}
.contacts__item--underline {
    padding-bottom: 2px;
    border-bottom: 1px solid #63d1bb;
}
.contacts__map {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-bottom: 39px;
    line-height: 0;
    text-align: center;
}
.contacts__title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    padding-top: 38px;
    font-family: 'Open Sans Bold';
}
.contacts__main-info {
    padding-top: 26px;
    padding-bottom: 30px;
    font-size: 14px;
}
.contacts__write-us-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 15px;
    padding-bottom: 17px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444;
    outline: none;
    width: 260px;
}
@media (min-width: 768px) {
    .contacts {
        padding-bottom: 57px;
    }
    .contacts__content-wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        padding-left: 6%;
        padding-right: 6%;
    }
    .contacts__title {
        position: relative;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        padding-top: 59px;
        font-size: 40px;
        line-height: 50px;
    }
    .contacts__title::after {
        content: "";
        position: absolute;
        top: 47px;
        right: 3px;
        display: block;
        width: 46.7px;
        height: 81.7px;
        background: url(../img/icon-flag.svg) no-repeat 50% 50%;
        background-size: 46.7px 81.7px;
    }
    .contacts__main-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        padding-top: 51px;
        padding-bottom: 57px;
        font-size: 16px;
    }
    .contacts__address {
        max-width: 400px;
        padding-right: 35px;
    }
    .contacts__item--name {
        padding-right: 27px;
    }
    .contacts__item--value {
        width: 210px;
    }
    .contacts__map {
        padding-bottom: 55px;
    }
    .contacts__map img {
        width: 100%;
    }
}
@media (min-width: 1150px) {
    .contacts {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: start;
            justify-content: flex-start;
        height: 633px;
        padding-bottom: 0;
    }
    .contacts__content-wrapper {
        padding-left: 180px;
        padding-right: 12px;
    }
    .contacts__title {
        padding-top: 140px;
        font-size: 50px;
        line-height: 57px;
    }
    .contacts__e-mail {
        -ms-flex-pack: start;
            justify-content: flex-start;
        max-width: 400px;
        padding-bottom: 30px;
    }
    .contacts__item--name {
        width: 80px;
        padding-left: 1px;
    }
    .contacts__item {
        padding-right: 0;
    }
    .contacts__address {
        -ms-flex-pack: start;
            justify-content: flex-start;
        padding-right: 0;
        padding-left: 3px;
    }
    .contacts__title::after {
        top: 133px;
        right: auto;
        left: -107px;
    }
    .contacts__main-info {
        -ms-flex-direction: column;
            flex-direction: column;
        padding-top: 49px;
        padding-bottom: 80px;
    }
    .contacts__map {
        -ms-flex-order: 1;
            order: 1;
        padding-top: 71px;
        padding-bottom: 0;
        margin-bottom: 0;
        box-sizing: content-box;
    }
    .contacts__map, .contacts__map img {
        width: 525px;
        height: 457px;
    }
    .contacts__write-us-btn {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-left: 170px;
    }
}
.interior-items {
    margin-top: -66px;
}
.interior-items .interior-items__type-list {
    margin: 0;
}
.interior-items__type-list {
    list-style: none;
    padding-left: 0;
}
.interior-items__type--interior-goods a {
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    background-color: #63d1bb;
    height: 103px;
    text-decoration: none;
    min-width: 100%;
}
.interior-items__type--kids-toys a {
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    background-color: #56c3b2;
    height: 103px;
    text-decoration: none;
    min-width: 100%;
}
.interior-items__type--interior-goods, .interior-items__type--kids-toys {
    position: relative;
}
.interior-items__type--interior-goods a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    /*padding-left: 9%;*/
    font-size: 18px;
}
.interior-items__type--kids-toys a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    /*padding-left: 9%;*/
    font-size: 18px;
}
.interior-items__title {
    display: none;
}
.interior-items__type--interior-goods span, .interior-items__type--kids-toys span {
    display: block;
    width: 130px;
}
.interior-items__type--interior-goods span, .interior-items__type--kids-toys span {
    padding-left: 9%;
}
.interior-items__type-goods, .interior-items__type-toys {
    position: absolute;
    top: 23px;
    right: 11.3%;
    width: 40px;
    height: 62.5px;
    opacity: .5;
    cursor: pointer;
    fill: #149080;
}
.interior-items__type-toys {
    top: 21px;
    right: 8.5%;
    display: block;
    width: 60px;
    height: 59.6px;
}
@media (min-width: 768px) {
    .interior-items__wrapper {}
    .interior-items {
        padding-left: 5%;
        padding-right: 5%;
    }
    .interior-items__type-list {
        display: -ms-flexbox;
        display: flex;
    }
    .interior-items__type--interior-goods {
        margin-left: auto;
        width: 100%;
    }
    .interior-items__type--kids-toys {
        margin-right: auto;
        width: 100%;
    }
    .interior-items {
        margin-top: -100px;
    }
    .interior-items__type--interior-goods span, .interior-items__type--kids-toys span {
        padding-left: 9%;
    }
    .interior-items__type--interior-goods a, .interior-items__type--kids-toys a {
        padding-left: 0;
    }
}
.main-nav {
    position: relative;
    width: auto;
    -ms-flex-positive: 1;
        flex-grow: 1;
}
.main-nav__toggle {
    position: absolute;
    top: 23px;
    right: 26px;
    z-index: 11;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background: 0 0;
    border: none;
    outline: none;
}
.main-nav__toggle:hover {
    opacity: .6;
}
.main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 5px;
    z-index: 13;
    width: 20px;
    height: 14px;
    transition: opacity .3s ease;
    background: url(../img/icon-menu-open.svg) no-repeat 50% 50%;
    background-size: 20px 14px;
}
.main-nav--opened .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 4px;
    width: 21px;
    height: 21px;
    background: url(../img/icon-menu-close.svg) no-repeat 50% 50%;
    background-size: 21px 21px;
}
.main-nav__list {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    min-width: 320px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 2;
}
.main-nav__item--logo {
    padding-top: 20px;
    padding-bottom: 22px;
    padding-left: 36.25%;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    line-height: 0;
}
.main-nav__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ececec;
}
.main-nav--opened .main-nav__item {
    opacity: 1;
}
.main-nav__item a {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 23.25%;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}
.main-nav__item--logo a {
    width: auto;
    padding: 0;
}
.main-nav__item--delivery, .main-nav__item--new, .main-nav__item--sale, .order-form__description {
    display: none;
}
.main-nav__cart-icon {
    top: 29px;
    left: 9.6%;
    width: 20.3px;
    height: 18.9px;
}
.main-nav__cart-icon, .main-nav__search-icon {
    position: absolute;
    top: 30px;
    left: 10%;
    display: block;
    width: 17.6px;
    height: 17.6px;
    cursor: pointer;
    fill: #231f20;
    opacity: .2;
}
@media (max-width: 767px) {
    .main-nav--closed .main-nav__item {
        display: none;
    }
    .main-nav--closed .main-nav__item--logo {
        display: block;
    }
    .main-nav--nojs .main-nav__toggle {
        display: none;
    }
    .main-nav--nojs .main-nav__item:nth-child(-n+5) {
        display: block;
        width: 100%;
        padding-top: 26px;
        padding-bottom: 28px;
        font-weight: 700;
        color: #000000;
        text-decoration: none;
    }
}
@media (min-width: 768px) {
    .page-header__wrapper {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
            justify-content: space-between;
        min-width: 768px;
    }
    .main-nav__toggle, .order-form__item-name::after {
        display: none;
    }
    .main-nav__list {
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
    .main-nav__item {
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
        width: 26%;
        font-size: 14px;
        border-bottom: none;
    }
    .main-nav__item--logo {
        -ms-flex-order: -3;
            order: -3;
        width: 41%;
        padding-top: 22px;
        padding-bottom: 13px;
        padding-left: 6.25%;
        border-top: none;
        border-bottom: 1px solid #ececec;
    }
    .main-nav__item--logo img {
        width: 112px;
        height: 46px;
    }
    .main-nav__item--catalog a {
        padding-left: 50px;
    }
    .main-nav__item span {
        padding-top: 26px;
        padding-bottom: 28px;
        text-align: left;
    }
    .main-nav__item--order a {
        padding-left: 18px;
    }
    .main-nav__search-icon {
        top: 36.5px;
        left: 40%;
    }
    .main-nav__cart-icon {
        top: 35px;
        left: 10%;
    }
    .main-nav__item--search {
        -ms-flex-order: -2;
            order: -2;
        width: 10.94%;
        font-size: 0;
        border: 1px solid #ececec;
        border-top: none;
    }
    .main-nav__item--search a {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .main-nav__item--cart {
        -ms-flex-order: -1;
            order: -1;
        width: 40.86%;
        font-size: 16px;
        border-bottom: 1px solid #ececec;
    }
    .main-nav__item--cart a {
        padding: 31px 50px 33px 0;
        text-align: right;
    }
    .main-nav__item--delivery {
        -ms-flex-order: 1;
            order: 1;
        display: -ms-flexbox;
        display: flex;
        width: 48%;
    }
    .main-nav__item--delivery span {
        width: 100%;
        padding-right: 50px;
        font-weight: 400;
        text-align: right;
        color: #444444;
    }
}
@media (min-width: 1150px) {
    .page-header__wrapper {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    .main-nav {
        margin: 0 auto;
    }
    .main-nav__list {
        -ms-flex-pack: start;
            justify-content: flex-start;
    }
    .main-nav__item--logo {
        -ms-flex-item-align: start;
            align-self: flex-start;
        -ms-flex-order: -6;
            order: -6;
        width: 23.8%;
        padding-top: 8.5px;
        padding-bottom: 6px;
        padding-left: 24px;
    }
    .main-nav__item {
        font-size: 14px;
        width: 20.7%;
    }
    .main-nav__item--logo img {
        width: 148px;
        height: 73px;
    }
    .main-nav__item--catalog, .main-nav__item--order {
        -ms-flex-order: -8;
            order: -8;
        font-size: 16px;
        border-bottom: 1px solid #ececec;
        background: none;
    }
    .main-nav__item--cart a, .main-nav__item--catalog a, .main-nav__item--order a {
        padding-top: 31px;
        padding-bottom: 33px;
    }
    .main-nav__item--order {
        -ms-flex-order: -7;
            order: -7;
        border-left: 1px solid #ececec;
    }
    .main-nav__item--order a {
        padding-left: 35px;
    }
    .main-nav__item--search {
        -ms-flex-order: -5;
            order: -5;
        width: 7.4%;
        font-size: 0;
    }
    .main-nav__item--search a {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .main-nav__item--cart {
        -ms-flex-order: -4;
            order: -4;
        width: 27.3%;
        font-size: 16px;
    }
    .main-nav__item--new, .main-nav__item--sale {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-order: -3;
            order: -3;
        font-size: 14px;
    }
    .main-nav__item--new a {
        padding-left: 50px;
    }
    .main-nav__item--sale {
        -ms-flex-order: -2;
            order: -2;
    }
    .main-nav__item--sale a {
        padding-left: 36px;
    }
    .main-nav__item--delivery {
        -ms-flex-order: 1;
            order: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
        font-size: 14px;
    }
}
.order-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 58px;
}
.description-form {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 85%;
    max-width: 400px;
    margin: 0;
    padding: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #444444;
    box-sizing: content-box;
}
.order-form__item {
    margin: 0 auto;
}
.order-form__item-name {
    position: relative;
    padding-left: 29px;
    padding-right: 30px;
}
.order-form__item-name span {
    font-weight: 700;
    text-transform: uppercase;
    color: #63d1bb;
}
.order-form__item-name::after {
    content: "";
    position: absolute;
    top: 11.5px;
    left: 92px;
    width: 61.875%;
    height: 1px;
    background: #63d1bb;
}
.order-form__options--type {
    padding-top: 27px;
    padding-bottom: 18px;
}
.order-form__options {
    padding-left: 30px;
}
.order-form__options--color input, .order-form__options--type input {
    display: none;
}
.order-form__options input {
    padding-top: 17px;
    padding-bottom: 17px;
    background: 0 0;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
}
.order-form__options--type label {
    display: block;
    padding-left: 72px;
    padding-bottom: 25px;
}
.order-form__options label {
    position: relative;
    font-weight: 700;
    cursor: pointer;
}
.order-form__options--type label::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 39px;
    height: 41px;
    border: 2px solid #444444;
    border-radius: 50%;
    box-sizing: border-box;
}
.order-form__options--type input:checked+label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 16px;
    height: 17px;
    background: #63d1bb;
    border-radius: 50%;
}
.order-form__options--type label:last-child {
    padding-top: 5px;
}
.order-form__options--color {
    padding-top: 32px;
    padding-bottom: 1px;
}
.order-form__options--color label {
    display: block;
    padding-left: 62px;
    padding-bottom: 45px;
}
.order-form__options--color label::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 40px;
    height: 41px;
    border: 2px solid #444444;
    box-sizing: border-box;
}
.order-form__options--color input:checked+label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 9px;
    width: 22px;
    height: 17px;
    background: url(../img/icon-tick.svg) no-repeat 50% 50%;
    background-size: 22px 17px;
}
.order-form__options--full-name, .order-form__options--phone-num {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 8px;
    padding-right: 30px;
    padding-bottom: 32px;
}
.order-form__full-name-option-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.order-form__options--full-name label {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-top: 22.5px;
}
.order-form__options--e-mail input, .order-form__options--full-name input, .order-form__options--more-info textarea, .order-form__options--phone-num input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}
.order-form__options input {
    padding-top: 17px;
    padding-bottom: 17px;
    background: 0 0;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
}
.order-form__options--phone-num {
    position: relative;
    padding-top: 5px;
    padding-bottom: 38px;
}
.order-form__option-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.error svg, .order-form__option-wrapper svg {
    fill: #000000;
    opacity: .2;
}
.order-form__e-mail-icon, .order-form__phone-icon {
    content: "";
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    width: 24.8px;
    height: 24.3px;
}
.order-form__options--e-mail {
    display: -ms-flexbox;
    display: flex;
    padding-top: 4px;
    padding-right: 30px;
    padding-bottom: 32px;
}
.order-form__e-mail-icon {
    right: 4px;
    width: 32px;
    height: 32px;
}
.order-form__options--more-info {
    display: -ms-flexbox;
    display: flex;
    padding-top: 31px;
    padding-right: 30px;
    padding-bottom: 58px;
}
.order-form__options textarea {
    padding: 15px;
    line-height: 19px;
    border: 2px solid #444444;
    outline: none;
}
.order-form__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0 auto;
}
.order-form__send-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    background-color: #ffffff;
    border: 2px solid #444444;
    outline: none;
    width: 81.25%;
    padding-top: 17px;
    padding-bottom: 18px;
}
.order-form__required-text {
    display: none;
}
.order-form__options label {
    font-family: 'Open Sans Bold';
    line-height: 19px;
}
@media (min-width: 768px) {
    .order-form__item-wrapper {
        padding-top: 30px;
    }
    .description-form {
        width: auto;
        max-width: none;
        padding-top: 60px;
        padding-right: 44px;
        padding-left: 51px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 30px;
    }
    .order-form__item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-align: baseline;
            align-items: baseline;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    .order-form__item-name {
        padding-left: 51px;
    }
    .order-form__options--type {
        padding-top: 0;
        padding-bottom: 14px;
        padding-right: 230px;
    }
    .order-form__options input {
        padding-right: 16px;
        padding-bottom: 15px;
        padding-left: 16px;
    }
    .order-form__options--type label {
        padding-top: 2px;
        padding-bottom: 56px;
        padding-left: 80px;
    }
    .order-form__options--type label::before {
        top: -13px;
        width: 52px;
        height: 52px;
    }
    .order-form__options--type input:checked+label::after {
        top: 2px;
        left: 15px;
        width: 22px;
        height: 22px;
    }
    .order-form__options--type label:last-child {
        padding-top: 2px;
    }
    .order-form__item-wrapper--background {
        background: #f1f1f1;
    }
    .order-form__item--color {
        padding-top: 74px;
        padding-bottom: 23px;
    }
    .order-form__options--color {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-top: 0;
        padding-left: 95px;
    }
    .order-form__item-name::after {
        display: none;
    }
    .order-form__options input, .order-form__options label, .order-form__options textarea {
        font-size: 18px;
        line-height: 18px;
    }
    .order-form__options--color label {
        width: 150px;
        padding-top: 2px;
        padding-left: 80px;
        padding-bottom: 56px;
    }
    .order-form__options--color label::before {
        top: -13px;
        width: 54px;
        height: 52px;
    }
    .order-form__options--color input:checked+label:after {
        top: 3px;
        left: 11px;
        width: 33px;
        height: 22px;
        background: url(../img/icon-tick.svg) no-repeat 50% 50%;
        background-size: 33px 22px;
    }
    .order-form__item--full-name, .order-form__item--phone-num {
        padding-top: 45px;
    }
    .order-form__options--full-name {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
        -ms-flex-positive: 1;
            flex-grow: 1;
        -ms-flex-align: baseline;
            align-items: baseline;
        padding: 0 50px 47px 97px;
    }
    .order-form__full-name-option-wrapper {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-align: baseline;
            align-items: baseline;
        padding-bottom: 20px;
    }
    .order-form__options--full-name label {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding-right: 23px;
        padding-top: 0;
    }
    .order-form__options--full-name input {
        -ms-flex-positive: 1;
            flex-grow: 1;
    }
    .order-form__options--phone-num {
        padding: 4px 50px 16px 106px;
        -ms-flex-positive: 1;
            flex-grow: 1;
    }
    .order-form__options--e-mail {
        padding-right: 50px;
        padding-bottom: 67px;
        padding-left: 81px;
        -ms-flex-positive: 1;
            flex-grow: 1;
    }
    .order-form__item--more-info {
        padding-top: 33px;
    }
    .order-form__options--more-info {
        padding-right: 50px;
        padding-bottom: 53px;
        padding-left: 99px;
        -ms-flex-positive: 1;
            flex-grow: 1;
    }
    .order-form__footer {
        -ms-flex-pack: justify;
            justify-content: space-between;
        padding-right: 50px;
        padding-left: 50px;
    }
    .order-form__send-btn {
        width: 230px;
        padding-top: 15px;
        padding-bottom: 17px;
        padding-left: 3px;
    }
    .order-form__required-text {
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding-top: 9px;
        line-height: 30px;
    }
}
@media (min-width: 1150px) {
    .description-form {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        padding: 103px 64px 71px 240px;
    }
    .order-form__item-name {
        padding-left: 115px;
    }
    .order-form__options--type {
        padding-right: 600px;
    }
    .order-form__options--full-name {
        width: auto;
        padding: 2px 225px 48px 45px;
    }
    .order-form__options--phone-num {
        padding-right: 225px;
        padding-left: 48px;
    }
    .order-form__options--e-mail {
        padding-right: 225px;
        padding-left: 25px;
    }
    .order-form__options--more-info {
        padding-right: 225px;
        padding-bottom: 90px;
        padding-left: 45px;
    }
    .order-form__options--color {
        padding-left: 44px;
    }
    .order-form__footer {
        padding-left: 225px;
        padding-right: 224px;
    }
}
.page-footer {
    background-color: #f2f2f2;
}
.page-footer__wrapper {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 23px;
}
.page-footer__social-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    width: 260px;
    padding-top: 24px;
    padding-bottom: 28px;
    border-bottom: 1px solid #e5e5e5;
}
.page-footer__social-link span {
    display: none;
}
.page-footer__social-icon {
    display: block;
}
.page-footer__copyright-link {
    display: -ms-flexbox;
    display: flex;
    transition: all .3s ease;
}
.page-footer__copyright-link span {
    padding-top: 2px;
    padding-right: 25px;
}
.page-footer__developer {
    display: -ms-flexbox;
    display: flex;
    padding-top: 22px;
}
.page-footer__logo-academy {
    fill: #63d1bb;
}
.page-footer__social-icon {
    fill: #231f20;
}
.page-footer__logo-container {
    display: none;
}
@media (min-width: 768px) {
    .page-footer__wrapper {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: start;
            align-items: flex-start;
        padding: 51px 50px;
    }
    .page-footer__social-links {
        border: none;
    }
    .page-footer__logo-container {
        display: block;
        padding-top: 15px;
    }
}
.page-header {
    display: -ms-flexbox;
    display: flex;
    min-height: 79px;
    width: 100%;
    font-family: 'Open Sans Bold';
}
.page-header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
}
@media (min-width: 1150px) {
    .main-nav--closed {
        width: auto;
    }
}
.page-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    background: #f1f1f1;
}
.page-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 69px;
    padding-bottom: 77px;
    font-family: 'Open Sans Bold';
}
.page-title__catalog {
    margin-left: 30px;
    margin-right: 30px;
}
@media (min-width: 768px) {
    .page-title {
        margin-top: -70px;
    }
    .page-title h1, .page-title--form h1 {
        padding-bottom: 95px;
        padding-top: 91px;
        font-size: 40px;
        line-height: 50px;
    }
}
@media (min-width: 1150px) {
    .page-title h1 {
        font-size: 50px;
        line-height: 57px;
        font-family: 'Open Sans Bold';
    }
}
.product {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
}
.product__photo-link {
    padding-top: 30px;
    line-height: 0;
    font-size: 0;
}
.product__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    width: 81.25%;
    border: 1px solid #ececec;
}
.product__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 79.46%;
}
.product__title {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans Bold';
}
.product__options {
    padding-bottom: 19px;
    font-size: 14px;
    line-height: 30px;
    color: #444444;
}
.product__user-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 79.46%;
    padding-top: 22px;
    padding-bottom: 26px;
    border-top: 1px solid #ececec;
}
.product__price {
    font-size: 14px;
    font-weight: 700;
}
@media (min-width: 768px) {
    .product__container-wrapper {
        padding-top: 68px;
    }
    .product {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-align: stretch;
            align-items: stretch;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 54px;
    }
    .product__photo-link {
        padding-top: 0;
        width: 332px;
    }
    .product__photo-link img {
        width: 333px;
        height: 334px;
    }
    .product__wrapper {
        -ms-flex-positive: 1;
            flex-grow: 1;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-grid-row-align: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
        width: auto;
        padding-left: 3.9%;
    }
    .product__description {
        width: 74%;
    }
    .product__title {
        font-size: 18px;
        padding-top: 25px;
    }
    .product__options {
        font-size: 15px;
    }
    .product__user-block {
        width: 88.3%;
        margin-left: 5px;
    }
    .product__price {
        font-size: 16px;
    }
}
@media (min-width: 1150px) {
    .product__container-wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-align: stretch;
            align-items: stretch;
        padding-top: 112px;
    }
    .product__photo-link img {
        width: 316px;
        height: 462px;
        padding-right: 15px;
    }
    .product__wrapper {
        -ms-flex-positive: 1;
            flex-grow: 1;
        width: auto;
        padding-left: 8.4%;
    }
    .product__description {
        width: 80%;
    }
    .product__options {
        padding-bottom: 14px;
    }
    .product__user-block {
        width: 89.6%;
        margin-left: 0;
    }
    .product {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-direction: column;
            flex-direction: column;
        width: 316px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 4.35%;
        box-sizing: content-box;
    }
}
.product-best {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
}
.product-best__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-left: 9.3%;
    padding-right: 9.3%;
    padding-bottom: 41px;
}
.product-best__header {
    padding-top: 27px;
    padding-bottom: 22px;
    font-family: 'Open Sans Bold';
}
.product-best__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 3px;
}
.product-best__week {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 16px;
    color: #63d1bb;
}
.product-best__photo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 27px;
    padding-bottom: 24px;
    line-height: 0;
    text-align: center;
    box-sizing: content-box;
}
.product__photo-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.production__video {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.product-best__options {
    padding-bottom: 19px;
    font-size: 14px;
    line-height: 30px;
    color: #444444;
}
.product-best__description {
    margin: 0;
    padding-bottom: 18px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
}
.product-best__specification-list {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    border-collapse: collapse;
}
.product-best__options {
    padding-right: 11px;
}
.product-best__options, .product-best__value {
    padding-top: 9.5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
.product-best__order-btn, .product-best__price {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 26px;
    font-weight: 700;
    text-align: center;
    color: #444444;
    font-family: 'Open Sans Bold';
}
.product-best__order-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    padding-top: 15px;
    padding-bottom: 17px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #444444;
    outline: none;
}
.product__title {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
}
.product__title a {
    color: #000000;
    text-decoration: none;
}
.product__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 79.46%;
}
.product__user-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 79.46%;
    padding-top: 22px;
    padding-bottom: 26px;
    border-top: 1px solid #ececec;
}
.product__order {
    display: block;
    width: 20px;
    height: 19px;
    font-size: 0;
}
.product__cart-icon {
    opacity: .2;
}
.product__photo-link {
    padding-top: 30px;
    line-height: 0;
    font-size: 0;
}
@media (min-width: 768px) {
    .product-best {
        padding: 0;
    }
    .product-best__wrapper {
        position: relative;
        padding-left: 5.7%;
        padding-right: 5.6%;
        padding-bottom: 68px;
    }
    .product-best__header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: center;
            align-items: center;
        width: 100%;
        padding-top: 44px;
        padding-bottom: 48px;
    }
    .product-best__title {
        font-size: 40px;
        line-height: 50px;
    }
    .product-best__week {
        width: 98px;
        padding-top: 2px;
        padding-right: 25px;
        text-align: center;
    }
    .product-best__description {
        width: 43.3%;
        padding-left: 4px;
        padding-bottom: 37px;
        font-size: 16px;
        line-height: 30px;
    }
    .product-best__cpecification {
        width: 43.4%;
        margin-left: 4px;
        font-size: 15px;
    }
    .product-best__specification-list {
        width: 43.4%;
        margin-left: 4px;
        font-size: 15px;
    }
    .product-best__photo {
        position: absolute;
        bottom: 68px;
        right: 50px;
        z-index: -1;
        padding: 0;
        margin: 0;
    }
    .product-best__price {
        -ms-flex-item-align: start;
            align-self: flex-start;
        width: 43.4%;
        padding-top: 56px;
        padding-bottom: 34px;
        padding-left: 16px;
        font-size: 18px;
    }
    .product-best__order-btn {
        width: 43.4%;
        padding-left: 6px;
        margin-left: 4px;
    }
    .product-best__photo img {
        width: 333px;
        height: 404px;
    }
    .product__photo-link {
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
        width: 332px;
    }
}
@media (min-width: 1150px) {
    .product-best__wrapper {
        padding-right: 190px;
        padding-bottom: 95px;
        padding-left: 200px;
    }
    .product-best__header {
        position: relative;
        padding-top: 124px;
    }
    .product-best__title {
        font-size: 50px;
        line-height: 57px;
    }
    .product-best__week {
        position: absolute;
        top: 139px;
        left: -126px;
    }
    .product-best__description {
        width: 35%;
        padding-bottom: 50px;
    }
    .product-best__specification-list {
        width: 33.1%;
    }
    .product-best__photo {
        bottom: 95px;
    }
    .product-best__photo img {
        width: 525px;
        height: 636px;
    }
    .product-best__price {
        width: 33%;
        padding-top: 108px;
        padding-left: 76px;
        text-align: left;
    }
    .product-best__order-btn {
        width: 292px;
    }
}
.production {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding-top: 31px;
    padding-bottom: 58px;
}
.production__title {
    width: 81.25%;
    position: relative;
    border: 1px solid #ececec;
}
.production__title h2 {
    padding-top: 23px;
    padding-bottom: 24px;
    padding-left: 34.5%;
    width: 168px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    box-sizing: content-box;
}
.production__video {
    position: relative;
    margin-top: -1px;
    line-height: 0;
}
.production__play-btn {
    position: absolute;
    top: 40px;
    left: 80px;
    width: 101px;
    height: 77px;
    font-size: 0;
    line-height: 0;
    background: url(../img/icon-play.svg) no-repeat 50% 50%;
    background-size: 101px 77px;
    cursor: pointer;
}
.production__video img {
    width: 260px;
    height: 150px;
}
.production__description {
    width: 71.25%;
    padding-left: 10.3%;
    padding-bottom: 32px;
    border: 1px solid #ececec;
    border-top: none;
}
.production__title::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 12.9%;
    width: 32px;
    height: 32px;
    background: url(../img/icon-video.svg) no-repeat 50% 50%;
    background-size: 32px 32px;
}
.production__description p {
    width: 81%;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 24px;
    font-size: 14px;
    color: #444444;
}
.production__order-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-top: 15px;
    padding-bottom: 17px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444;
    outline: none;
    width: 85.3%;
}
@media (min-width: 768px) {
    .production {
        padding-top: 54px;
        padding-bottom: 63px;
    }
    .production__title {
        width: 86.98%;
        font-size: 18px;
        border-bottom: none;
    }
    .production__title::before {
        top: 33px;
        left: 6.1%;
    }
    .production__title h2 {
        width: auto;
        padding-top: 38px;
        padding-left: 15.71%;
        font-size: 18px;
    }
    .production__video {
        -ms-flex-order: -1;
            order: -1;
    }
    .production__play-btn {
        top: 196px;
        left: 284px;
    }
    .production__video img {
        width: 668px;
        height: 455px;
    }
    .production__description {
        width: 86.98%;
        padding-bottom: 45px;
    }
    .production__description p {
        width: 95%;
        padding-top: 9px;
        padding-bottom: 34px;
        font-size: 16px;
        line-height: 30px;
    }
    .production__order-btn {
        width: 93.053%;
        margin-left: 3px;
    }
}
@media (min-width: 1150px) {
    .production {
        margin: 0 auto;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-grid-row-align: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
        max-width: 1150px;
        height: 455px;
        padding: 57px 4.35% 105px;
        box-sizing: content-box;
    }
    .production__title {
        width: 367px;
        border-left: none;
    }
    .production__title::before {
        top: 41px;
        left: 80px;
    }
    .production__title h2 {
        width: 185px;
        padding-top: 95px;
        padding-left: 78px;
    }
    .production__video {
        width: 581px;
        padding-top: 1px;
    }
    .production__play-btn {
        top: 190px;
        left: 250px;
    }
    .production__video img {
        width: 682px;
        height: 455px;
    }
    .production__description {
        width: 340px;
        padding-left: 78px;
        border-left: none;
    }
    .production__description p {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .production__order-btn {
        width: 230px;
        margin-left: 2px;
    }
}
.promo-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-pack: center;
        justify-content: center;
    background: #f9f9f9 url(../img/hero-mobile@1x.jpg) no-repeat 50%;
    height: 355px;
}
.promo-header__description {
    margin: 0;
    font-family: 'Open Sans Bold';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    width: 240px;
    padding-top: 86px;
    padding-bottom: 123px;
    text-align: center;
}
@media (min-width: 768px) {
    .promo-header {
        background: #f9f9f9 url(../img/hero-mobile@1x.jpg) no-repeat 50%;
        background-size: 1150px 746px;
        margin-top: -70px;
        padding-top: 0;
        padding-bottom: 350px;
    }
    .promo-header__description {
        width: 500px;
        font-size: 40px;
        line-height: 50px;
    }
    .promo-header__description {
        padding-top: 160px;
    }
}
.reviews__author-name {
    padding-bottom: 7px;
    font-weight: 700;
    font-style: normal;
}
.reviews__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto;
    padding-left: 9%;
    padding-bottom: 50px;
    background-image: none;
}
.reviews__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    margin: 0;
    font-size: 14px;
}
.reviews__list {
    padding-bottom: 30px;
}
.reviews__text {
    width: 88%;
    margin: 0;
    padding-left: 1px;
    padding-bottom: 18px;
    line-height: 30px;
    color: #444444;
}
.reviews__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 56px;
    padding-bottom: 25px;
    font-family: 'Open Sans Bold';
}
.reviews__nav-btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-bottom: 38px;
    padding-left: 1px;
}
.reviews__nav-btn {
    padding: 12px 41px 12px 40px;
    font-size: 0;
    line-height: 0;
    border: 1px solid #ececec;
    transition: opacity .3s ease;
}
.reviews__nav-btn--prev {
    border-right: none;
}
.reviews__write-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-top: 15px;
    padding-bottom: 17px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444;
    outline: none;
    width: 260px;
    margin-left: 1px;
}
@media (min-width: 768px) {
    .reviews__wrapper {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: start;
            align-items: flex-start;
        padding: 83px 6.5% 145px 6%;
        background-image: url(../img/review@1x.jpg);
        background-repeat: no-repeat;
        background-position: 0 9px;
        background-size: 350px 457px;
    }
    .reviews__title {
        -ms-flex-order: 1;
            order: 1;
        width: 60%;
        padding-top: 0;
        margin: 0;
        font-size: 40px;
        line-height: 50px;
    }
    .reviews__nav-btn {
        border: none;
        padding-left: 18px;
        padding-right: 19px;
    }
    .reviews__text {
        width: 662px;
        padding-left: 3px;
        padding-bottom: 10px;
    }
    .reviews__item {
        width: 300px;
        padding-top: 26px;
        margin: 0;
        font-size: 16px;
    }
    .reviews__list {
        -ms-flex-order: 3;
            order: 3;
    }
    .reviews__nav-btns {
        -ms-flex-order: 4;
            order: 4;
        padding-top: 159px;
    }
    .reviews__write-btn {
        -ms-flex-order: 2;
            order: 2;
        width: 175px;
        margin-top: 5px;
        padding-left: 4px;
    }
}
@media (min-width: 1150px) {
    .reviews__wrapper {
        padding-left: 221px;
        padding-bottom: 151px;
        padding-right: 50px;
        background-position: 6.2% 15px;
    }
    .reviews__title {
        padding-top: 1px;
        padding-bottom: 24px;
        font-size: 50px;
        line-height: 57px;
    }
    .reviews__item {
        padding-top: 25px;
    }
    .reviews__text {
        padding-left: 4px;
        padding-bottom: 10px;
    }
    .reviews__author-name {
        padding-left: 4px;
        padding-bottom: 6px;
    }
    .reviews__insta-name {
        padding-left: 4px;
    }
    .reviews__nav-btns {
        padding-top: 158px;
    }
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff2') format('woff2'),
      url('../fonts/opensans.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensansbold.woff2') format('woff2'),
      url('../fonts/opensansbold.woff') format('woff');
}
