.page-header {
  @mixin border;
  display: flex;
  min-height: $page-header-height;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.main-nav {
  position: relative;
  flex-grow: 1;
  padding: 0;
}

.main-nav__btn {
  position: absolute;
  top: 23px;
  right: 26px;
  z-index: 11;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: 0 0;
  border: none;
  outline: none;
}

.main-nav--closed .main-nav__btn::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: 13;
  width: 20px;
  height: 14px;
  background: url(../img/icon-menu-open.svg) no-repeat 50% 50%;
  background-size: 20px 14px;
}

.main-nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 2;
}

@media (min-width: $desktop-width) {
  .main-nav--closed {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .page-header__wrapper {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }
}
