$white-color: #ffffff;
$pomo-header__description-color: #010000;
$background-color--interior-goods: #63d1bb;
$background-color--kids-toys: #56c3b2;
$color-black: #000000;
$main-text-color: #444444;
$page-footer--social-color: #231f20;
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$page-header-height: 79px;
$promo-header-height: 355px;
$interior-items-height: 103px;
$content-center: 260px;
$padding-content: 30px;
$background-page-title: #f1f1f1;
$border-product-userblock: #ececec;
$goods-toys-color: #149080;
$background-color-footer: #f2f2f2;
$backgroundpromo-header: #f9f9f9;
$nav-icon-color: #231f20;
